include README.md
include LICENSE
recursive-include fastipscanner/static *
recursive-include fastipscanner/templates *
include fastipscanner/cli.py
recursive-include fastipscanner *.py
recursive-include scanner *.py
global-exclude *.pyc
global-exclude __pycache__